<html>
    <head>
        <title>Index 2</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel=stylesheet href="style2.css">
    </head>
    <body>
        <button id="distribute-cards">Distribute Cards</button>
        <div id="table" class="area">
            <h1>Table</h1>
            <div id="table-cards">1H</div>
        </div>
        <div id="player1" class="area player">
            <h1>Player 1</h1>
            <div id="player1-cards"></div>
        </div>
        <div id="player2" class="area player">
            <h1>Player 2</h1>
            <div id="player1-cards"></div>
        </div>
        <div id="player3" class="area player">
            <h1>Player 3</h1>
            <div id="player1-cards"></div>
        </div>
        <div id="player4" class="area player">
            <h1>Player 4</h1>
            <div id="player1-cards"></div>
        </div>
    </body>
    <script src="script2.js"></script>
</html>