<html>
    <head>
        <title>House of cards</title>
        <link rel=stylesheet type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <button id="showDeck">Show Deck</button>
        <button id="shuffleDeck">Shuffle Deck</button>
        <button id="resetDeck">Restart Deck</button>
        <button id="newGame">New Game</button>
        <div class="table">
            <h1>Table:</h1>
            <div id="table"></div>
        </div>
        <div class="player">
            <h1>Player1:</h1>
            <div id="player1"></div>
        </div>
        <div class="player">
            <h1>Player2:</h1>
            <div id="player2"></div>
        </div>
    </body>
    <script type="text/javascript" src="script.js"></script>
    <script>
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/ranking",
            data: {cards: [1, 2, 3, 4]},
            success: function(response){
                console.log(response);
            }
        });
    </script>
</html>